.container{
    width: 700px;
    margin-top: 200px;
    background-color: darkseagreen;
    border-radius: 20px;
    border: 2px solid black;
    padding: 40px 20px;    /* khoang cach tu noi dung den border( mep le)*/
}